<!doctype html>
<html>
  <head>
    <title>Meu Blog de Notícias</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <nav>
      <a href="/">Home</a> | <a href="/login">Login</a> |
      <a href="/cadastro">Cadastrar</a>
    </nav>
    <h1>Últimas Notícias</h1>
    {% for id, info in noticias.items() %}
    <div class="noticia-card">
      <h2>{{ info.titulo }}</h2>
      <p>{{ info.resumo }}</p>
      <a href="{{ url_for('visualizar_noticia', id=id) }}">Ler mais</a>
    </div>
    {% endfor %}
  </body>
</html>
